/* General styling */

h1, h2{
    font-size: var(--fs-heading);
    font-family: var(--ff-heading);
}

p {
    font-size: var(--fs-text);
    font-family: var(--ff-text);
}

body {
    background-color: var(--clr-bg);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    gap: var(--gap);
}

.grid {
    display: grid;
    gap: var(--gap);
}

/* button */ 

.down-button {
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark);
    margin-bottom: 1rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    border: 0.125em solid var(--clr-main);
    box-shadow: inset 0 0 0.3 0 var(--clr-main), 0 0 0.2em 0 var(--clr-main);

    position: relative;
}
.down-button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 1.2em 0.2em var(--clr-main);
    opacity: 1;
    background-color: var(--clr-dark);
    transition: opacity 200ms linear;
    border-radius: 50%;
}

.down-arrow {
    width: 70%;
    opacity: 1;
    z-index: 2;

    animation: drop 2s ease;
}

.main-button {
    position: relative;
    text-decoration: none;
    color: var(--clr-text);
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    padding: 1rem 2rem;
    border: 0.125em solid var(--clr-main);
    box-shadow: inset 0 0 0.3 0 var(--clr-main), 0 0 0.2em 0 var(--clr-main);
}
.main-button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 1.2em 0.2em var(--clr-main);
    background-color: var(--clr-dark);
    transition: opacity 200ms linear;

    z-index: -1;
}

/* scrolling effekt */

.line-container {
    position: fixed;
    top: 0;
    right: -1rem;
    width: 100%;
    height: 90%;
    overflow: hidden;
}

svg {
    display: inline-block;
    height: 100%;
    margin-bottom: 10%;
}

.reveal {
    position: relative;
    opacity: 0;
}
.reveal.active {
    opacity: 1;
}
.active.fade-left {
    animation: fade-left 1s ease;
}
.active.fade-right {
    animation: fade-right 1s ease;
}

/* Hero */

.hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(/portfolio2/img/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-text);
}
.hero--container {
    width: 100%;
    max-width: 1200px;
    margin-top: 10%;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* .hero--text {

} */
.hero--text h2 {
    font-size: var(--fs-sub);
}
.hero--picture {
    width: 15rem;
}
.hero--picture img {
    border-radius: 50%;
}

/* Introduction */

.introduction {
    max-width: 900px;
    background: var(--clr-bg);
    flex-direction: column;
    align-items: center;
}
.banner {
	width: 100vw; height: 30.5vmin;
    max-width: 1200px;
    overflow: hidden;
	min-height: 15em;
	background: linear-gradient(#000, transparent, #000), 
		var(--img) 50%/ cover;
	background-attachment: fixed;
	background-blend-mode: multiply;

}
.intro-banner:nth-of-type(1), .intro-banner:nth-of-type(2) {
    --img: url(/portfolio2/img/vandring.jpg)
}
.introduction--container {
    flex-direction: column;
    align-items: center;
    color: var(--clr-text);
    margin-bottom: 5rem;
}
.text-container {
    width: 90%;
    text-align: center;
    flex-direction: column;
}

/* Projekts */

.projekts {
    color: var(--clr-text);
    text-align: center;
    margin: 2rem auto;
    flex-direction: column;
}
.projekts--intro {
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.proj-banner:nth-of-type(1) {
    --img: url(/portfolio2/img/code.jpg)
}
.projekt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--clr-text);
}
.projekt--display {
    border-radius: 10px;
    width: 90%;
}

/* Contact form */

.form {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    gap: 1rem;
    color: var(--clr-text);
    font-family: var(--ff-text);
    margin-bottom: 5rem;
}
.form--heading {
    font-family: var(--ff-heading);
    text-align: center;
}
.form--heading h3 {
    font-size: var(--fs-sub);
    opacity: 0.7;
}
.form--input {
    flex-direction: column;
    width: 100%;
    max-width: 85vw;
    align-self: flex-end;
    margin-right: 0.5rem;
}
input[type=text], select, textarea {
    border: none;
    color: var(--clr-text);
    border-bottom: 2px solid var(--clr-main);
    background-color: #00000005;
    padding: 12px;
    z-index: 1;
}
input[type=submit] {
    background-color: #04AA6D;
    color: var(--clr-text);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
    z-index: 1;
}
input[type=submit]:hover {
    background-color: var(--clr-main);
}

/* mediaqueries */

@media screen and (max-width: 800px) {
    .line-container {
        right: -0.1rem;
    }
}