* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 5px;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #13242c;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    gap: 1rem;
}
.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search {
    height: 10rem;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
#query {
    border: none;
    background: none;
    border-bottom: 2px solid white;
    font-size: 1rem;
    color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 20rem;
}
#query:focus {
    outline: none;
}
#search-button {
    font-family: 'Roboto', sans-serif;
    width:max-content;
    background: none;
    border: 2px solid #eee;
    color: white;
    padding: .5rem 1rem;
    cursor: pointer;
}
#search-button:hover {
    opacity: .7;
}
.songs {
    width: 90vw;
    height: 12rem;
    position: relative;
}
.song {
    height: 7rem;
    padding: 0.5rem;
    align-items: center;
    color: white;
    background: rgba(255,255,255, .2);
    border-radius: 5px;
}
.song--album {
    height: 100%
}
.song--title {
    text-align: center;
    flex: 1;
    height:100%;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
}
.song:hover {
    opacity: .8;
    cursor: pointer;
}
.music-card {
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    background: rgba(255,255,255, .2);
    border-radius:5px;
}
.card-album {
    height: 18rem;
}

@media screen and (max-width: 1050px){
    .grid {
        grid-auto-columns: 40%;
    }
}

@media screen and (max-width: 600px){
    .grid {
        grid-auto-columns: 65%;
    }
}