
/* --general settings */

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    overflow-x: hidden;
}
/* --TYPOGRAPHY-- */

h1 {
    font-family: Fira Sans;
    font-size: 53px;
    font-style: normal;
    font-weight: 700;
}

a {
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

p {
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

/* --header-- */

.header {
    background-color:#EEEEEE;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

.navigation figure {
    display: flex;
    align-items: center;
}

.navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.navigation a {
    text-decoration: none;
    color: rgb(120, 120, 120);
    margin-right: 2rem;
}

.navigation a:hover {
    color: #222;
}

.navigation button {
    background-color:#EEEEEE;
    border: 2px solid #222;
    border-radius: 5px;
    padding: 0.7rem 1.2rem;
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.header__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    flex-grow: 1;
}

.download-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-text p {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 35rem;
    line-height: 24px;
}

.download-buttons {
    margin-top: 3rem;
    width: 100%;
    padding: 0 7rem;
    display: flex;
    justify-content: space-between;
}

.download-buttons__apple {
    padding: 0.6rem 1.2rem;
    background-color: #222;
    border-radius: 5px;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.download-buttons__apple img {
    margin-right: 0.5rem;
}

.download-buttons__apple:hover {
    background-color: rgb(91, 91, 91);
}

.download-buttons__google-play {
    padding: 0.6rem 1rem;
    background-color: #222;
    border-radius: 5px;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.download-buttons__google-play img {
    margin-right: 0.4rem;
}

.download-buttons__google-play:hover {
    background-color: rgb(91, 91, 91);
}

.background-phone {
    margin-top: auto;
}

/* --main-- */

main {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.wrapper {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.headline {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produkt-examples {
    display: flex;
    justify-content: space-between;

}

.produkt-examples .card-main {
    background-color: #EBEBEB;
    flex: 1;
    height: 22rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-last {
    background-color: #EBEBEB;
    flex: 1;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.card__picture {
    width: 100%;
    height: 30%;
}

.card__produkt-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__produkt-text h1 {
    font-family: Fira Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}

.card__produkt-text p {
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-top: 0.7rem;
}

.collection {
    width: 100%;
    height: 28rem;
    display: flex;
    justify-content: space-between;
}

.collection__card {
    background-color: #343332;
    flex: 1;
    max-width: 480px;
    margin: 3rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.collection__card h1 {
    font-family: Fira Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.collection__card p {
    font-family: Fira Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
    margin: 0.5rem 0;
}

.collection__card button {
    margin: 1rem 0 0 0;
    background-color: #343332;
    padding: 0.7rem 1.5rem;
    color: #fff;
    border-radius: 5px;
    opacity: 0.7;
}

.collection__card button:hover {
    background-color: #434343;
}

/* --footer-- */

.footer {
    background-image: url(../images/footer-map.png);
    background-size: cover;
    width: 100%;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 24%;
}

.contact-card {
    background-color: #fff;
    max-width: 425px;
    height: 25rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.contact-card__text h1 {
    font-family: Fira Sans;
    font-size: 53px;
    font-weight: 700;
    color: #222;
    margin-bottom: 1.8rem;
}

.contact-card__text h2 {
    font-family: Fira Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: #222;
    opacity: 0.8;
}

.contact-card__text p {
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #222;
    opacity: 0.6;
    margin: 0.8rem 0;
}

.where {
    margin: 1.4rem 0;
}

.call {
    margin: 1rem 0;
}
