:root {
    --clr-main: #0085FF;
    --clr-bg: #dbdbdb;
    --clr-dark: #222;
    --clr-text: #353535;
    --clr-light-text: #fff;

    --ff-heading: 'Archivo', sans-serif;
    --ff-text: 'Roboto Condensed', sans-serif;
    --fs-heading: 4rem;
    --fs-text: 1.3rem;
    --fs-sub: 3rem;
    --fs-card: 2rem;

    --gap: 2rem;
}